@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 244, 247, 253;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 32, 33, 44;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white rounded-full px-4 py-2 hover:bg-primary-light transition-colors relative overflow-hidden text-center;
  }
  
  .btn-secondary {
    @apply bg-very-light-gray text-primary rounded-full px-4 py-2 hover:bg-primary/10 transition-colors dark:bg-white relative overflow-hidden text-center;
  }
  
  .btn-destructive {
    @apply bg-destructive text-white rounded-full px-4 py-2 hover:bg-destructive-light transition-colors relative overflow-hidden text-center;
  }
  
  .input {
    @apply w-full px-4 py-2 rounded border border-light-gray/25 focus:outline-none focus:ring-1 focus:ring-primary dark:bg-dark-gray;
  }
  
  .card {
    @apply bg-white dark:bg-dark-gray rounded-lg shadow-md p-4;
  }
} 